*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.display {
  display: block !important;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.grid {
  display: grid;
}

.grid.x2 {
  grid-template-columns: 1fr 1fr;
}

.grid.x3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid.x4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid.x5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card.reverse {
  flex-direction: column-reverse;
}

.card.card-hr {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card.card-hr .card-body {
  flex-grow: 1;
  width: 50%;
  padding: 5rem;
}

.card.card-hr .card-img {
  flex-grow: 1;
  width: 50%;
  height: 100%;
}

.card.card-hr.reverse {
  flex-direction: row-reverse;
}

.card-img-top {
  position: relative;
}

.card-img-top .card-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card-img-top .card-body {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 5rem;
}

.card-title {
  font-family: "Fraunces", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #23303e;
  margin-bottom: 2rem;
}

.card-text {
  font-family: inherit;
  color: #a7abae;
  margin-bottom: 3rem;
  font-weight: 400;
}

.card-btn {
  display: inline-block;
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  position: relative;
  padding: 0 1rem;
  padding-bottom: 0.2rem;
  z-index: 2;
  color: #23303e;
}

.card-btn:hover:after {
  height: 50%;
}

.card-btn::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25%;
  background-color: #a7abae;
  z-index: -1;
  border-radius: 10px;
  background-color: #fe7867;
  transition: 0.3s;
  opacity: 0.5;
}

.scrolling {
  background-color: #23303e !important;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item:not(:first-child) {
  margin-left: 1rem;
}

.nav-link {
  padding: 0.5rem 1.5rem 0.8rem 1.5rem;
  border-radius: 10px;
  color: white;
  letter-spacing: 0.5px;
  line-height: 0;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.block-title {
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2rem;
  color: #a7abae;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-toggler {
  display: none;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  outline: none;
}

.navbar-toggler i {
  pointer-events: none;
}

.header {
  width: 100%;
  background-image: url("./../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header .container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header .title {
  font-size: 6rem;
  color: white;
  text-align: center;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 5rem;
}

.about {
  display: flex;
  flex-wrap: wrap;
}

.about .card-hr:nth-child(2) .card-btn::after {
  background-color: #fad400;
}

.about .card-img-top {
  width: 50%;
}

.about .graphics .card-title,
.about .graphics .card-text {
  color: #25564b;
}

.about .graphics .card-text {
  margin-bottom: 0;
}

.about .photography .card-title,
.about .photography .card-text {
  color: #19536b;
}

.about .photography .card-text {
  margin-bottom: 0;
}

.testimonial {
  padding: 15rem 0;
  text-align: center;
}

.testimonial .block-title {
  margin-bottom: 10rem;
}

.testimonial .grid {
  grid-gap: 2rem;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: block;
  margin-bottom: 5rem;
}

.testimonial-text {
  color: #5a636c;
  font-size: 1.6rem;
  margin-bottom: 5rem;
  width: 100%;
  line-height: 2;
  letter-spacing: 0.5px;
}

.testimonial-author {
  color: #23303e;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
}

.testimonial-author-profession {
  color: #a7abae;
  font-size: 1.4rem;
}

.footer {
  background-color: #458c7e;
  padding: 5rem 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  margin-bottom: 2rem;
}

.footer .footer-nav {
  margin-bottom: 3rem;
}

.footer .footer-nav .nav-link {
  color: #23303e;
}

.footer .footer-nav .nav-link:hover {
  background-color: transparent;
  color: white;
}

.footer .social .nav-link {
  color: #23303e;
}

.footer .social .nav-link:hover {
  background-color: transparent;
  color: white;
}

.attribution {
  padding: 1rem;
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
}

.attribution a {
  color: #23303e;
}

.attribution a:hover {
  color: #818498;
}

@media screen and (max-width: 991px) {
  .header .title {
    font-size: 4rem;
  }
  .testimonial .grid.x3 {
    grid-template-columns: 1fr;
    grid-row-gap: 5rem;
  }
  .testimonial-img {
    margin-bottom: 2rem;
  }
  .testimonial-text {
    margin-bottom: 3rem;
    line-height: 1;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .navbar-toggler {
    display: block;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: white;
  }
  .navbar-nav-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    top: 25%;
    min-height: 100vh;
  }
  .navbar-nav-wrapper .navbar-nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: white;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .navbar-nav-wrapper .navbar-nav::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid white;
    transform: translateY(-100%);
  }
  .navbar-nav-wrapper .navbar-nav .nav-item:not(:first-child) {
    margin-left: 0;
    margin-top: 2rem;
  }
  .navbar-nav-wrapper .navbar-nav .nav-link {
    color: #23303e;
  }
  .card-title {
    font-size: 2.5rem;
  }
  .card-text {
    font-size: 1.6rem;
  }
  .card-btn {
    font-size: 1.8rem;
  }
  .card-body {
    padding: 2rem;
  }
  .card.card-hr .card-body, .card.card-img-top .card-body {
    padding: 2rem;
  }
  .testimonial {
    padding: 5rem 0;
  }
  .testimonial .block-title {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 575px) {
  .card-title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .card-text {
    font-size: 1.4rem;
  }
  .card-btn {
    font-size: 1.6rem;
  }
  .header .title {
    font-size: 3rem;
  }
  .about .card {
    text-align: center;
  }
  .about .card.card-img-top {
    width: 100%;
  }
  .about .card.card-hr {
    flex-direction: column;
  }
  .about .card.card-hr .card-img,
  .about .card.card-hr .card-body {
    width: 100%;
    height: auto;
  }
  .about .card.card-hr .card-body {
    padding: 3rem 2rem;
  }
  .gallary .grid.x4 {
    grid-template-columns: 1fr 1fr;
  }
  .footer-nav {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-nav .nav-item {
    margin-left: 0;
    font-size: 1.4rem;
    margin: 0.8rem;
  }
  .footer-nav .nav-link {
    padding: 0;
  }
  .social {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
